@import 'bootstrap/dist/css/bootstrap.css';


/* ICON NAVBAR */
.nav-size {
	font-size: 20px;
    text-align: center;
}

.bi {
    vertical-align: -0.125em;
    fill: currentColor;
}

/* SECTION JOB */

#featured .job-featured {
    background: #fff;
    padding: 20px;
    margin: 15px 0;
    border-radius: 4px;
    border-left: 4px solid transparent;
    box-shadow: 0px 0px 14px rgba(191, 191, 191, 0.24);
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
#featured .job-featured .icon {
    float: left;
    position: relative;
    width: 70px;
    text-align: center;
    height: 70px;
    line-height: 70px;
    box-shadow: 0px 0px 7px rgba(203, 203, 203, 0.23);
}
#featured .job-featured .content {
    padding-left: 90px;
}
#featured .job-featured .content h3 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
}
#featured .job-featured .content h3 a {
    color: #333;
}
#featured .job-featured .content h3 a:hover {
    color: #26ae61;
}
#featured .job-featured .content .brand {
    font-size: 15px;
    margin-bottom: 10px;
    color: #666666;
}
#featured .job-featured .content .tags {
    margin-bottom: 15px;
}
#featured .job-featured .content .tags span {
    margin-right: 10px;
}
#featured .job-featured .content .tags span i {
    margin-right: 5px;
    color: #26ae61;
}
#featured .job-featured:hover {
    border-color: #26ae61;
}

.full-time {
    font-size: 11px;
    font-weight: 500;
    display: inline-block;
    padding: 5px 15px;
    border-radius: 50px;
    cursor: pointer;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.full-time {
    color: #26ae61;
    background: #d5ffe7;
}

.full-time:hover {
    box-shadow: 0px 3px 9px rgba(96, 94, 94, 0.17);
}

/* END SECTION JOB */